<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anti_theft"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.USES_POLICY_FORCE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".Configuration"
            android:label="@string/title_activity_configuration" >
        </activity>

        <receiver android:name=".IncomingMessage" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action.ACTION_PASSWORD_CHANGED" />
                <action android:name="android.app.action.ACTION_PASSWORD_EXPIRING" />
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED" />
                <action android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@layout/policies" />
        </receiver>	
        <activity
            android:name=".ViewProfile"
            android:label="@string/title_activity_view_profile" >
        </activity>
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <receiver android:name=".SimDetect">
            <intent-filter>
				<action android:name="android.intent.action.ACTION_SHUTDOWN"/>				
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="android.intent.action.QUICKBOOT_POWEROFF"/>
				<action android:name="android.intent.action.SCREEN_OFF"/>
        		<action android:name="android.intent.action.SCREEN_ON"/>
        		<action android:name="android.intent.action.SIM_STATE_CHANGED"/>
        		<action android:name="android.intent.action.BATTERY_CHANGED"/>
			</intent-filter>
        </receiver>
    </application>
</manifest>
